<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
  <style>
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      border: 1px solid #e7e7e7;
      background-color: #f3f3f3;
    }

    li {
      float: left;
    }

    li a {
      display: block;
      color: #666;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    li a:hover:not(.active) {
      background-color: #ddd;
    }

    li a.active {
      color: white;
      background-color: darkcyan;
    }

    #song_table {
      font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    #song_table td,
    #song_table th {
      border: 1px solid #ddd;
      padding: 8px;
      overflow: hidden;
    }

    .eg {
      background-color: aliceblue;
      padding-bottom: 80px;
      height: 100%;
    }

    h1,
    a:link,
    a:visited {
      color: cadetblue;
      width: 100%;
      text-decoration: none;
      display: inline-block;
    }



    #song_table {
      font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    #song_table td,
    #song_table th {
      border: 1px solid #ddd;
      padding: 8px;
    }

    #song_table tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    #song_table tr:hover {
      background-color: #ddd;
    }

    #song_table th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: darkcyan;
      color: white;
    }

    h1 {
      text-align: center;
    }

    div.center {
      margin: auto;
      border: 3px solid green;
      padding: 10px;
      width: 50%;
    }

    p {
      text-align: center;
      color: lightslategray;
      font-size: larger;
    }

    div.player {
      width: 97%;
      margin: auto;
      border: 3px solid green;
      padding: 10px;
      position: absolute;
      position: -webkit-sticky;
      position: sticky;
      bottom: 0;
      background-color: aliceblue;
    }

    audio {
      width: 100%;
    }

    form.example input[type=text] {
      padding: 10px;
      font-size: 17px;
      border: 1px solid grey;
      float: left;
      width: 80%;
      background: #f1f1f1;
    }

    form.example button {
      float: left;
      width: 20%;
      padding: 10px;
      background: #2196F3;
      color: white;
      font-size: 17px;
      border: 1px solid grey;
      border-left: none;
      cursor: pointer;
    }

    form.example button:hover {
      background: #0b7dda;
    }

    form.example::after {
      content: "";
      clear: both;
      display: table;
    }
  </style>

</head>

<body>
  <!-- <ul>
    <li><a class="active" href="">Home</a></li>
    <li><a href="/add">Add</a></li>
    <li><a href="/home">Home</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul> -->

  <div class="eg">

    <!-- <div class="jumbotron jumbotron-fluid"> -->
    <div class="container">
      <h1>Songs</h1>
      <p>Enjoy your favourite tracks for free...</p>
    </div>
    <!-- </div> -->

    <div class="center">

      <form class="example" method="post" action="/searchSongs" style="margin:auto;max-width:300px;">
        <input type="text" placeholder="Search.." name="search2">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>


      <form>

        <!-- <ul class="pagination justify-content-end">
          <li class="page-item"><a class="page-link" href="javascript:void(0);">Previous</a></li>
          <li class="page-item"><a class="page-link" href="/0">1</a></li>
          <li class="page-item"><a class="page-link" href="/10">2</a></li>
          <li class="page-item"><a class="page-link" href="/20">Next</a></li>
        </ul> -->

        <% if (data.length> 0) {%>
          <table id="song_table">
            <tr>
              <!-- <th>#</th> -->
              <th>Title</th>
            </tr>
            <% data.forEach((dataa, index)=> { %>
              <tr>
                <!-- <td>
                  <%= index+1 %>
                </td> -->
                <td>

                  <p class="box">
                    <%= dataa.id %>
                  </p>

                  <!-- <a href="" class="songListItem" onclick=" playAudio2('<%= dataa.id %>')"><b>
                      <%= dataa.songname %>
                    </b> | <i>

                    </i>
                  </a> -->
                  <!-- <a href="/play/<%= dataa.id %>">
                    <%= dataa.songname%>
                  </a> -->
                </td>

              </tr>
              <% }) %>

          </table>
          <% } %>

            <!-- <ul class="pagination justify-content-end">
              <li class="page-item"><a class="page-link" href="javascript:void(0);">Previous</a></li>
              <li class="page-item"><a class="page-link" href="/0">1</a></li>
              <li class="page-item"><a class="page-link" href="/10">2</a></li>
              <li class="page-item"><a class="page-link" href="/20">Next</a></li>
            </ul> -->

            <h1>Music</h1>
    </div>

    <h1>All rights reserved</h1>
    <div class="player">
      <audio id="myAudio" controls>
        <source type="audio/mpeg">
        Your browser does not support the audio tag.
      </audio>
    </div>
    </form>

  </div>

  <script>


    var x = document.getElementById("myAudio");

    const boxes = document.querySelectorAll('.box');

    boxes.forEach(box => {
      box.addEventListener('click', function handleClick(event) {


        console.log('box clicked' + box.innerHTML, event);
        // box.setAttribute('style', 'background-color: yellow;');

        $.get("/play/" + box.innerHTML.trim(), function (data, status) {
              // alert("Data: " + JSON.stringify(data) + "\nStatus: " + status);

          if (status === 'success') {

            // alert('mymusicapp/songs/' + data.message.trim() +'.mp4')
            x.src = 'mymusicapp/songs/' + data.message.trim() + '.mp3';
            x.play();
          }

        });

      });
    });
    // x.onerror = function () {
    //   alert("Error! Something went wrong");
    // };


    // function playAudio(src) {
    //   x.src = 'mymusicapp/songs/' + src + +'.mp3' ;
    //   x.play();
    // }

    // function playAudio2(src) {

    //   $.get("/play/" + src, function (data, status) {
    //     // alert("Data: " + JSON.stringify(data) + "\nStatus: " + status);

    //     if (status === 'success') {

    //       // alert('mymusicapp/songs/' + data.message +'.mp4')
    //       this.src = 'mymusicapp/songs/' + data.message + '.mp3';

    //     }

    //   });

    //   this.play();
    //   return false;
    // }


  </script>


</body>

</html>