<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../css/player_index.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
  <style>

  </style>

</head>

<body>
  <!-- <ul>
    <li><a class="active" href="">Home</a></li>
    <li><a href="/add">Add</a></li>
    <li><a href="/home">Home</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul> -->

  <!--==================== MAIN ====================-->
  <main class="main">
    <!--==================== HOME ====================-->
    <!--<section class="home section" id="home">
       <div class="home__container container grid">
        <h1>Songs</h1>
        <p>Enjoy your favourite tracks for free...</p>
      </div> 
    </section> -->

    <!--==================== SEARCH ====================-->
    <section class="home section" id="search">
      <form class="example" method="post" action="/searchSongs" style="margin:auto;max-width:300px;">
        <input type="text" placeholder="Search.." name="search2">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </section>

    <!--==================== SONGS ====================-->
    <section class="songs section" id="songs">

        <% if (data.length> 0) {%>
          <table id="song_table" class="song__table">
            <tr>
              <!-- <th>#</th> -->
              <th>Songs</th>
            </tr>
            <% data.forEach((dataa, index)=> { %>
              <tr>
                <!-- <td>
                  <%= index+1 %>
                </td> -->
                <td>
  
                  <p class="box">
                    <%= dataa.songname %>
                      <input type="hidden" value="<%= dataa.id%>">
                  </p>
  
                  <!-- <a href="" class="songListItem" onclick=" playAudio2('<%= dataa.id %>')"><b>
                      <%= dataa.songname %>
                    </b> | <i>
  
                    </i>
                  </a> -->
                  <!-- <a href="/play/<%= dataa.id %>">
                    <%= dataa.songname%>
                  </a> -->
                </td>
  
              </tr>
              <% }) %>
  
          </table>
          <% } %>
      
    </section>

    <!--==================== FOOTER ====================-->
    <!-- <section class="section"  id="footer"> -->
      <!-- <h1>All rights reserved</h1> -->
      <div class="player">
        <audio id="myAudio" controls>
          <source type="audio/mpeg">
          Your browser does not support the audio tag.
        </audio>
      </div>
    <!-- </section> -->


  </main>

  <div class="container">


    <div class="center">

      <!-- <ul class="pagination justify-content-end">
          <li class="page-item"><a class="page-link" href="javascript:void(0);">Previous</a></li>
          <li class="page-item"><a class="page-link" href="/0">1</a></li>
          <li class="page-item"><a class="page-link" href="/10">2</a></li>
          <li class="page-item"><a class="page-link" href="/20">Next</a></li>
        </ul> -->



      <!-- <ul class="pagination justify-content-end">
              <li class="page-item"><a class="page-link" href="javascript:void(0);">Previous</a></li>
              <li class="page-item"><a class="page-link" href="/0">1</a></li>
              <li class="page-item"><a class="page-link" href="/10">2</a></li>
              <li class="page-item"><a class="page-link" href="/20">Next</a></li>
            </ul> -->

      <!-- <h1>Music</h1> -->
    </div>



  </div>

  <script>


    var x = document.getElementById("myAudio");

    const boxes = document.querySelectorAll('.box');

    boxes.forEach(box => {
      box.addEventListener('click', function handleClick(event) {

        let song = box.innerHTML.split('\n')[2];
        song = song.substring(song.indexOf("value=") + 7, song.indexOf(">") - 1);

        console.log('box clicked ' + song, event.currentTarget);

        // box.setAttribute('style', 'background-color: yellow;');

        $.get("/play/" + song, function (data, status) {
          //       // alert("Data: " + JSON.stringify(data) + "\nStatus: " + status);

          if (status === 'success') {

            // alert('mymusicapp/songs/' + data.message.trim() +'.mp4')
            // alert(data + ' is the data')
            //http://localhost:3000/mymusicapp/songs/nzYvg1UT3wI.mp3

            // x.src = 'http://151.106.125.150:1337/mymusicapp/songs/' + data.message.trim() + '.mp3';
            x.src = 'mymusicapp/songs/' + data.message.trim() + '.aac';
            x.play();
            // const audio = new Audio(data);
            // audio.play();
          }

        });

      });
    });
    // x.onerror = function () {
    //   alert("Error! Something went wrong");
    // };


    // function playAudio(src) {
    //   x.src = 'mymusicapp/songs/' + src + +'.mp3' ;
    //   x.play();
    // }

    // function playAudio2(src) {

    //   $.get("/play/" + src, function (data, status) {
    //     // alert("Data: " + JSON.stringify(data) + "\nStatus: " + status);

    //     if (status === 'success') {

    //       // alert('mymusicapp/songs/' + data.message +'.mp4')
    //       this.src = 'mymusicapp/songs/' + data.message + '.mp3';

    //     }

    //   });

    //   this.play();
    //   return false;
    // }


  </script>


</body>

</html>